{% extends "admin_dash_base.html" %}

{% block content %}
<h1 class="mt-4">Unmatched students</h1>
{% if unmatched_student %}
<h2 class="mt-4">Students without matches:</h2>
{% for student in unmatched_student %}
<h4 class="mt-4">{{student[0]}}</h4>
{% endfor %}

{% else %}
<h2 class="mt-4">No student without a match</h2>
{% endif %}
{% endblock %}

{% block dashboard %}{% endblock %}
{% block modify_matches %}{% endblock %}
{% block unmatched_students %}active{% endblock %}
{% block unmatched_alumni %}{% endblock %}
{% block match_statistics %}{% endblock %}