.landing {
    height: 100vh;
    max-height: 100vh;
    background-image: url(/static/images/blankorangegrid.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navbar */
.navbar {
    padding: 0 1rem !important;
}
.transparent {
    background-color: transparent !important;
}

/* tigers! */
.landing-tiger {
    max-width: 100%;
    max-height: 100%;
}

/* buttons */
.landing-btn {
    position: relative;
    bottom: -9px;
    text-align: center;
}

/* bounce animation */
@keyframes miniBounce {
    0%{transform:translateY(-3px);}
    30%{transform:translateY(-10px);}
    60%{transform:translateY(-15px);}
    70%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}
.miniBounce {
  animation: miniBounce 0.35s ease-in; 
}
/* cards */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 5px 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
