{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up as an Admin
{% endblock %}

{% block styles %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </link>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </link>
  <link rel="stylesheet" href="{{url_for('.static', filename='/css/index.css')}}">
</head>

<body class="landing pt-5" id="top">
  {% include "/pages/homenav.html" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" method="POST" action="#">
              <h3 class="card-title text-center"><strong>Sign Up</strong></h3>
              {{ form.hidden_tag() }}
              {% for error in errors %}
              <p class="help-block">{{error}}</p>
              {% endfor %}
              <div class="form-label-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                {{wtf.form_field(form.username, id='Username', class='form-control', placeholder='Net ID')}}
                <!-- <label for="username">Username</label> -->
              </div>
              <div class="form-label-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                {{wtf.form_field(form.password, id='password', class='form-control', placeholder='Password')}}
                <!-- <label for="username">Username</label> -->
              </div>
              <div class="form-label-group">
                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
                {{ wtf.form_field(form.confirm_password, id="confirm_password", class="form-control", placeholder="Confirm Password") }}
                <!-- <label for="inputPassword">Password</label> -->
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
              <hr class="my-4">
              <p>Already have an account? <a id="signup" href="/login/admin">Sign In!</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
  <script>

    $(document).ready(function () {

      $(".card-body").slideDown();

    });
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/static/js/landing.js"></script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>
  {% endblock %}
</body>