{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<body id="top">

  {% block title %}
  Sign Up
  {% endblock %}



  {% block styles %}
  {{super()}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </link>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </link>
  <link rel="stylesheet" href="{{url_for('.static', filename='/css/login.css')}}">
  {% endblock %}

  {% block content %}
  <div class="container">
    <div class="row" style="padding-top: 13%">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" method="POST" action="#">
              <h5 class="card-title text-center"><strong>Sign Up</strong></h5>
              {{ form.hidden_tag() }}

              <!-- {% include '/pages/login/flasherror.html' %} -->

              <div class="form-label-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                {{wtf.form_field(form.email, id='Email', class='form-control', placeholder='Username')}}
                <!-- <label for="username">Username</label> -->
              </div>
              <div class="form-label-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                {{wtf.form_field(form.password, id='password', class='form-control', placeholder='Password')}}
                <!-- <label for="username">Username</label> -->
              </div>
              <div class="form-label-group">
                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
                {{ wtf.form_field(form.confirm_password, id="confirm_password", class="form-control", placeholder="Confirm Password") }}
                <!-- <label for="inputPassword">Password</label> -->
              </div>
              <button class="btn btn-lg btn-sign btn-block text-uppercase" type="submit">Sign Up</button>
              <hr class="my-4">
              <p>Already have an account? <a id="signup" href="/login">Sign In!</a></p>
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                  class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                  class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
  <script>

    $(document).ready(function () {

      $(".card-body").slideDown();

    });
  </script>

  {% endblock %}
