{% extends 'pages/admin/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body id="top">

  {% block title %}
  Change Admin
  {% endblock %}

  {% block styles %}
  {{super()}}

  <div class="container">
    <div class="row" style="padding-top: 13%">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><strong>Change ID</strong></h5>
            <form class="form-signin" method="post" action="#">
              {{ form.hidden_tag() }}

              <div class="form-label-group">
                {{wtf.form_field(form.netid, id='netid', class='form-control', placeholder='netid')}}
              </div>
              <div class="form-label-group">
                {{wtf.form_field(form.netid_confirm, id='confirm netid', class='form-control', placeholder='confirm netid')}}
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Confirm</button>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
<script>

  $(document).ready(function () {

    $(".card-body").slideDown();

  });

</script>
{% endblock %}
