{% extends "pages/admin/base.html" %}

{% block content %}
<h1 class="ml-3 mr-3 mt-4 mb-4">Welcome to your dashboard, {{username}}</h1>
<div class="row">
    <div class="col-xl-6">
        <div class="card ml-3 mr-3 mt-4 mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>New alum sign-ups over the
                past few days</div>
            <div class="card-body"><canvas id="myAreaChartAlum" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card ml-3 mr-3 mt-4 mb-4">
            <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>New student sign-ups over the past
                few days</div>
            <div class="card-body"><canvas id="myAreaChartStudent" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>
<div class="card ml-3 mr-3 mt-4 mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Current Matches</div>
    <div class="card-body">
        <div class="table-responsive">
            {% if matches %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Alum</th>
			<th>Contacted</th>
			<th>Modify</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Student</th>
                        <th>Alum</th>
			<th>Contacted</th>
			<th>Modify</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for match in matches: %}
                    <tr>
                        <td><a href='{{url_for('.admin_profile_student', netid=match.studentid)}}'>{{match.studentid}}</a></td>
                        <td><a href='{{url_for('.admin_profile_alum', email=match.aluminfoemail)}}'>{{match.aluminfoemail}}</a></td>
			<td>{% if match.contacted %}Yes{% else %}No{% endif%}</td>
                        <td><a href='
                            {{url_for('.admin_dashboard_clearone', student=match.studentid, alum=match.aluminfoemail)}}'>Delete
                            Match</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2>No matches
            </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block dashboard %}active{% endblock %}
{% block extra_scripts %}
<script src="/static/js/datatables-demo.js"></script>
<script src="/static/js/chart-area-demo.js"></script>
{% endblock %}
