{% extends "pages/admin/base.html" %}

{% block content %}
<div data-step="3"
    data-intro="If you already have a list of members you'd like to import, you can do so on these import pages."
    data-position='right'>
    <h1 class="display-4 text-center">Upload a list of {% block import_side %}{% endblock %} as a .csv file</h1>
    <p class="lead">The header of your csv file must include {% block header_info %}{% endblock %}, although the order
        is not important</p>
    <p class="lead">Ensure that major is listed in a three-letter format (e.g. COS or ECO)</p>
    <hr class="my-4">
    <form action="/admin/import/{{side}}" method="post" enctype="multipart/form-data"
        class="d-flex justify-content-center mb-3">
        <label class="btn btn-primary mb-0 mr-2">
            Browse <input type="file" name="data_file" hidden />
        </label>
        <button type="submit" class="btn btn-primary ml-3">Upload</button>
    </form>
    <div class="text-center">
        <span class="font-weight-bold text-danger">{{errorMsg}}</span>
        {% if bad_members %}
        {% for member in bad_members: %}
        <br>
        <span class="font-weight-bold text-danger">{{member}}</span>
        {% endfor %}
        {% endif %}
        <span class="font-weight-bold text-success">{{successMsg}}</span>
    </div>
    <hr class="my-4">
    <p class="lead font-weight-bold text-center">Additional information.</p>
    <p class="lead">
        An Excel or Google Sheets spreadsheet must be saved and
        uploaded as a CSV file.
    </p>
    <p class="lead">
        Uploading a CSV with members already in your group will
        update their information.
    </p>
    {% endblock %}
</div>
{% block extra_scripts %}
<script type="text/javascript">
    if (RegExp('multipage', 'gi').test(window.location.search)) {
        document.getElementById('import-students').classList.add('active')
        introJs().setOption('doneLabel', 'Next page').setOption('showStepNumbers', false).start().oncomplete(function () {
            window.location.href = '/admin/modify-matches?multipage=true';
        });
    }
</script>
{% endblock %}