{% extends "pages/base.html" %}

{% block content %}
<div class="padded-content">
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Create matches</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/admin/dashboard/create">This will not modify any
                        pre-existing matches</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Clear matches</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/admin/dashboard/clearall">This will erase all
                        current
                        matches!</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modify_matches %}active{% endblock %}