{% extends "pages/admin/base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/micons/micons.css">
<div class="pt-5 px-5 pb-3">
    <div class="card pt-5 ">
        <h2 class="text-center">Modify Matches</h2>
        <div class="ml-3 mr-3 mt-4 mb-4" style="width:100%; display:inline-block;">
            <div class="row d-flex justify-content-center">
                <div class="col-6 col-xl-6 col-md-12 col-center">
                    <div class="card mb-4">
                        <div class="row pl-3">
                            <span class="icons text-dark icon-user-add lead pl-3 pt-3 pb-2"
                                style="font-size:2rem;"></span>
                            <div class="card-body">Create matches</div>
                        </div>
                        <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                            <a class="small stretched-link" href="/admin/dashboard/create">This will not modify any
                                pre-existing matches</a>
                            <div class="small"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card mb-4">
                    <div class="row pl-3">
                        <span class="icons text-dark icon-user-remove lead pl-3 pt-3 pb-2"
                            style="font-size:2rem;"></span>
                        <div class="card-body">Clear matches</div>
                    </div>
                    <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                        <a class="small stretched-link" href="/admin/dashboard/clearall" id="clear-all">This will
                            erase all
                            current
                            matches!</a>
                        <div class="small"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card mb-4">
                    <div class="row pl-3">
                        <span class="icons text-dark icon-mail lead pl-3 pt-3 pb-2" style="font-size:2rem;"></span>
                        <div class="card-body">Email Notification</div>
                    </div>
                    <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                        <a class="small stretched-link" href="/admin/dashboard/notify" id>This will notify all
                            current matches!</a>
                        <div class="small"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block modify_matches %}active{% endblock %}
{% block extra_scripts %}
<script src="/static/js/confirm_clear.js"></script>
{% endblock %}