{% extends "pages/admin/base.html" %}

{% block content %}
<div class="ml-3 mr-3 mt-4 mb-4">
    <h3 class="text-center">Modify Matches</h3>
    <div class="pt-3 row d-flex justify-content-center">
        <div class="col-xl-6">
            <div class="card bg-white mb-4">
                <div class="row">
                    <span class="icon-user-add pl-5 pr-2 pt-3" style="font-size:2rem;"></span>
                    <div class="card-body">Match without notifying participants</div>
                </div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small stretched-link" href="/admin/dashboard/create">This will not modify any
                        pre-existing matches</a>
                    <div class="small "><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-white mb-4">
                <div class="row">
                    <span class="icon-user-add pl-5 pr-2 pt-3" style="font-size:2rem;"></span>
                    <div class="card-body">Match and notify participants</div>
                </div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small stretched-link" href="/admin/dashboard/create?notify=true">This will not modify any
                        pre-existing matches</a>
                    <div class="small "><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card bg-white mb-4">
                <div class="row">
                    <span class="icon-user-remove pl-5 pr-2 pt-3" style="font-size:2rem;"></span>
                    <div class="card-body">Clear matches</div>
                </div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small stretched-link" href="/admin/dashboard/clearall" id="clear-all">This will
                        erase all
                        current
                        matches!</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card bg-white mb-4">
                <div class="row">
                    <span class="icon-mail pl-5 pr-2 pt-3" style="font-size:2rem;"></span>
                    <div class="card-body">Email Notification</div>
                </div>
                <div class="card-footer bg-white d-flex align-items-center justify-content-between">
                    <a class="small stretched-link" href="/admin/dashboard/notify" id>This will notify all
                        current matches!</a>
                    <div class="small"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <span class="font-weight-bold text-danger">{{errorMsg}}</span>
    <span class="font-weight-bold text-success">{{successMsg}}</span>
</div>
{% endblock %}
{% block modify_matches %}active{% endblock %}
{% block extra_scripts %}
<script src="/static/js/confirm_clear.js"></script>
{% endblock %}
