{% extends "pages/base.html" %}

{% block content %}
{% if student %}
<h1 class="mt-4">{{student.studentinfonamefirst}} {{student.studentinfonamelast}}</h1>
<h3>Contact: <a href="mailto:{{student.studentinfoemail}}">{{student.studentinfoemail}}</a></h3>
<h3>Major: {{student.studentacademicsmajor}}</h3>
<h3>Career: {{student.studentcareerdesiredfield}}</h3>

{% if matches %}
<h3>Matched with:</h3>
<ul>
    {% for match in matches %}
    <li><a href='{{url_for('.admin_profile_alum', email=match.aluminfoemail)}}'>{{match.aluminfoemail}}</a></li>
    {% endfor %}
</ul>
{% else %}
<h3>No matches</h3>
{% endif %}

{% else %}
<h1>No student exists for the given name</h1>
{% endif %}
{% endblock %}

{% block profiles_student %}active{% endblock %}