{% extends "pages/admin/base.html" %}

{% block content %}
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Current Matches</div>
    <div class="card-body">
        <form action="/admin/action-alum" method="post" class="mb-3">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {% if alumni %}
                    <div class="actions text-right mb-3">
                        <select name="action" id="action">
                            <option value="no-action">Select an action</option>
                            <option value="delete">Delete</option>
                        </select>
                        <input type="hidden" id="checked-members" name="checked-members" value="">
                        <input type="submit" value="Submit">
                    </div>
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Career</th>
                            <th>Matched?</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Career</th>
                            <th>Matched?</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for alum in alumni: %}
                        <tr {% if alum.matched==1 %}class="table-success" {% else %}class="table-danger" {% endif %}>
                            <td class="prof-cell"><input type="checkbox" id="selected" name="selected"
                                    value="{{alum.aluminfoemail}}" class="members">
                            <td>{{alum.aluminfonamefirst}}</td>
                            <td>{{alum.aluminfonamelast}}</td>
                            <td>{{alum.aluminfoemail}}</td>
                            <td>{{alum.alumacademicsmajor}}</td>
                            <td>{{alum.alumcareerfield}}</td>
                            <td>{% if alum.matched==1 %}Yes{% else %}No{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <h2>No alumni</h2>
                    {% endif %}
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block profiles_alum %}active{% endblock %}
{% block extra_scripts %}
<script src="/static/js/datatables-demo.js"></script>
<script src="/static/js/delete.js"></script>
{% endblock %}