{% extends "pages/admin/base.html" %}

{% block content %}
{% if alum %}
<h1 class="mt-4">{{alum.aluminfonamefirst}} {{alum.aluminfonamelast}}</h1>
<h3>Contact: <a href="mailto:{{alum.aluminfoemail}}">{{alum.aluminfoemail}}</a></h3>
<h3>Major: {{alum.alumacademicsmajor}}</h3>
<h3>Career: {{alum.alumcareerfield}}</h3>

{% if matches %}
<h3>Matched with:</h3>
<ul>
    {% for match in matches %}
    <li><a href='{{url_for('.admin_profile_student', netid=match.studentid)}}'>{{match.studentid}}</a></li>
    {% endfor %}
</ul>
{% else %}
<h3>No matches</h3>
{% endif %}

{% else %}
<h1>No alum exists for the given name</h1>
{% endif %}
{% endblock %}

{% block profiles_alum %}active{% endblock %}