{% extends "pages/admin/base.html" %}

{% block content %}
<div class="card ml-3 mr-3 mt-4 mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Current Matches</div>
    <div class="card-body">
        <form action="/admin/action-{{user}}" method="post" class="mb-3" id="action-form">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {% if users %}
                    <div class="actions text-center mb-3">
                        <select name="action" id="action-select">
                            <option value="no-action">Select an action</option>
                            <option class="action-option" value="delete">Delete</option>
                        </select>
                        <input type="hidden" id="checked-members" name="checked-members" value="">
                    </div>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Career</th>
                            <th>Matched?</th>
                            <th class="prof-cell" data-orderable="false"><input type="checkbox" id="select-all"
                                    name="select-all" value=""></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Career</th>
                            <th>Matched?</th>
                            <th class="prof-cell"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in users: %}
                        <tr {% if user.matched==1 %}class="table-success" {% else %}class="table-danger" {% endif %}>
                            <td>{{user.info_firstname}}</td>
                            <td>{{user.info_lastname}}</td>
                            <td>{{user.info_email}}</td>
                            <td>{{user.academics_major}}</td>
                            <td>{{user.career_field}}</td>
                            <td>{% if user.matched==1 %}Yes{% else %}No{% endif %}
                            </td>
                            <td class="prof-cell"><input type="checkbox" id="selected" name="selected"
                                    value="{{user.userid}}" class="members">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <h2>No users</h2>
                    {% endif %}
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block profiles_alum %}{{'active' if side=='alum' else ''}}{% endblock %}
{% block profiles_student %}{{'active' if side=='student' else ''}}{% endblock %}
{% block extra_scripts %}
<script src="/static/js/datatables-demo.js"></script>
<script src="/static/js/delete.js"></script>
<script src="/static/js/action.js"></script>
{% endblock %}