{% extends "pages/admin/base.html" %}

{% block content %}
{% if alum %}
<h1 class="ml-3 mr-3 mt-4 mb-4">{{alum.aluminfonamefirst}} {{alum.aluminfonamelast}}</h1>
<h3>Contact: <a href="mailto:{{alum.aluminfoemail}}">{{alum.aluminfoemail}}</a></h3>
<h3>Major: {{alum.alumacademicsmajor}}</h3>
<h3>Career: {{alum.alumcareerfield}}</h3>
<p class="font-weight-bold">Class Year: {{alum.class_year}}</p>
<p class="font-weight-bold">Certificate 1: {{alum.certificate1}}</p>
<p class="font-weight-bold">Certificate 2: {{alum.certificate2}}</p>
<p class="font-weight-bold">Certificate 3: {{alum.certificate3}}</p>
<p class="font-weight-bold">Extracurricular 1: {{alum.extracurricular1}}</p>
<p class="font-weight-bold">Extracurricular 2: {{alum.extracurricular2}}</p>
<p class="font-weight-bold">Extracurricular 3: {{alum.extracurricular3}}</p>

{% if matches %}
<h3>Matched with:</h3>
<ul>
    {% for match in matches %}
    <li><a href='{{url_for('.admin_profile_student', netid=match.studentid)}}'>{{match.studentid}}</a></li>
    {% endfor %}
</ul>
{% else %}
<h3>No matches</h3>
{% endif %}

{% else %}
<h1>No alum exists for the given name</h1>
{% endif %}
{% endblock %}

{% block profiles_alum %}active{% endblock %}