{% extends "pages/admin/base.html" %}

{% block content %}
<div class="card ml-3 mr-3 mt-4 mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Current Matches</div>
    <div class="card-body">
        <form action="/admin/action-student" method="post" class="mb-3" id="action-form">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {% if students %}
                    <div class="actions text-center mb-3">
                        <select name="action" id="action-select">
                            <option value="no-action">Select an action</option>
                            <option class="action-option" value="delete">Delete</option>
                        </select>
                        <input type="hidden" id="checked-members" name="checked-members" value="">
                    </div>
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Career</th>
                            <th>Matched?</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Career</th>
                            <th>Matched?</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for student in students: %}
                        <tr {% if student.matched==1 %}class="table-success" {% else %}class="table-danger" {% endif %}>
                            <td class="prof-cell"><input type="checkbox" id="selected" name="selected"
                                    value="{{student.studentid}}" class="members">
                            </td>
                            <td>{{student.studentinfonamefirst}}</td>
                            <td>{{student.studentinfonamelast}}</td>
                            <td>{{student.studentinfoemail}}</td>
                            <td>{{student.studentacademicsmajor}}</td>
                            <td>{{student.studentcareerdesiredfield}}</td>
                            <td>{% if student.matched==1 %}Yes{% else %}No{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <h2>No students</h2>
                    {% endif %}
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block profiles_student %}active{% endblock %}
{% block extra_scripts %}
<script src="/static/js/datatables-demo.js"></script>
<script src="/static/js/delete.js"></script>
<script src="/static/js/action.js"></script>
{% endblock %}