{% extends "pages/admin/base.html" %}

{% block content %}
{% if student %}
<h1 class="ml-3 mr-3 mt-4 mb-4">{{student.info_firstname}} {{student.info_lastname}}</h1>
<h3>Contact: <a href="mailto:{{student.info_email}}">{{student.info_email}}</a></h3>
<h3>Major: {{student.academics_major}}</h3>
<h3>Career: {{student.career_field}}</h3>
<p class="font-weight-bold">Class Year: {{student.class_year}}</p>
<p class="font-weight-bold">Certificate 1: {{student.academics_certificate1}}</p>
<p class="font-weight-bold">Certificate 2: {{student.academics_certificate2}}</p>
<p class="font-weight-bold">Certificate 3: {{student.academics_certificate3}}</p>
<p class="font-weight-bold">Extracurricular 1: {{student.extracurricular1}}</p>
<p class="font-weight-bold">Extracurricular 2: {{student.extracurricular2}}</p>
<p class="font-weight-bold">Extracurricular 3: {{student.extracurricular3}}</p>

{% if matches %}
<h3>Matched with:</h3>
<ul>
    {% for match in matches %}
    <li><a href='{{url_for('.admin_profile_alum', email=match.info_email)}}'>{{match.info_email}}</a></li>
    {% endfor %}
</ul>
{% else %}
<h3>No matches</h3>
{% endif %}

{% else %}
<h1>No student exists for the given name</h1>
{% endif %}
{% endblock %}

{% block profiles_student %}active{% endblock %}