.landing {
    height: 100vh;
    max-height: 100vh;
    background-image: url(/static/images/blankorangegrid.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navbar */
.navbar {
    padding: 0 1rem !important;
}
.transparent {
    background-color: rgba(52, 58, 64, 0.5) !important;
    transition: all 0.5s ease-in-out
}

/* tigers! */
.landing-tiger {
    max-width: 100%;
    max-height: 100%;
}
/* buttons */
/* .btn-landing {
	  background-color: #000000;
	  color: #ffffff;
	  border: #000000;
    transition: margin-top 1s, background 0.2s, font-weight 0.2s;
} */

/* Position of buttons relative to div */
#landing-btn-little {
    top: 95%;
    /*left: 28%*/
}
#landing-btn-big {
  top: 95%;
  /*left: 40%*/
}

/* @media only screen and (max-width: 1200px) {
  .landing-btn {
    left: 100px
  }
} */
/* bounce animation */
/* @keyframes miniBounce {
    0%{transform:translateY(-3px);}
    30%{transform:translateY(-10px);}
    60%{transform:translateY(-15px);}
    70%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}
.miniBounce {
  animation: miniBounce 0.35s ease-in; 
} */

/* cards */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 5px 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
