main > .container {
    padding: 60px 15px 0;
}

body {
    background: #e47c27;
    background: url("../images/bg-pattern.png"), linear-gradient(to left, rgb(190, 80, 6), #df782a);
    /* background: url(../images/morrison_hall.jpg) */
}

h1, h2, h3 {
    font-family: "montserrat-medium", sans-serif;
    color: #272626;
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    border: #000000;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color: #b8b8b8;
    border-color: #b8b8b8;
    color: #000000;
    outline: 0;
}

/* .btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: calc(5.4rem - .4rem);
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c5c5c5;
  border: .2rem solid #c5c5c5;
}

.btn--stroke, button.btn--stroke {
  background: transparent !important;
  border: 0.2rem solid #cf722a;
  color: #cf722a;
}

.btn--stroke:hover, button.btn--stroke:hover {
  border: 0.2rem solid #000000;
  color: #000000;
} */
