{% extends 'pages/user/user_base.html' %}

{% block content %}
<div class="tab-pane fade {% if active_email %}active show{% endif %}" id="change-email" role="tabpanel"
	aria-labelledby="change-email-tab">
	<h2 class="pt-5 pb-3">Change Email</h2>
	<p class="text-danger font-weight-bold">{{errorMsg}}</p>
	<form action="/{{side}}/email" method="post">
		<div class="form-group row">
			<label for="staticEmail" class="col-sm-2 col-form-label">Current Email</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="staticEmail"
					value="{{user.info_email if user.info_email}}">
			</div>
		</div>
		<div class="form-group row">
			<label for="email" class="col-sm-2 col-form-label">New Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="email" name="email" placeholder="email@domain.com">
			</div>
			<br><br>
			<label for="email-repeated" class="col-sm-2 col-form-label">Confirm Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="email-repeated" name="email-repeated"
					placeholder="email@domain.com">
			</div>
		</div>
		<button type="submit" class="btn btn-primary my-2 my-sm-0">&nbsp;Submit&nbsp;</button>
	</form>
</div>
<h2 class="pt-5 pb-3">Delete Account</h2>
<div class="card bg-danger text-white mb-4 mt-4">
	<div class="card-body">Delete account</div>
	<div class="card-footer d-flex align-items-center justify-content-between">
		<a class="small text-white stretched-link" href="/{{side}}/delete" id="delete-account">Note: This action is
			permanent!</a>
		<div class="small text-white"><i class="fas fa-angle-right"></i></div>
	</div>
</div>
{% endblock %}
{% block account %}active{% endblock %}
{% block individual_scripts %}
<script src="/static/js/delete_account.js"></script>
{% endblock %}