{% extends 'pages/user/user_base.html' %}

{% block extra_sidenav %}
<div class="small">
	<a class="text-warning lead highlight" id="startButton" href="javascript:void(0)">Tutorial</a>
</div>
{% endblock %}

{% block content %}
<!-- Match side -->
<br />
<div class="match-info text-center">
	{% if match %}
	<h1 class="display-4">You've been matched</h1>
	<p class="lead">...with <strong><mark>{{match.info_firstname}}
				{{match.info_lastname}}</mark></strong>!</p>
	<hr class="my-4">
	<p>View their profile below</p>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
		data-target="#profileModal">{{match.info_firstname}}'s Profile</button>
	<hr class="my-4">
	{% if contacted == False: %}
	<form method="post">
		<p>Confirm that you have contacted {{match.info_firstname}}.</p>
		<input type="submit" class="btn btn-primary btn-lg" name="action" value="Confirm">
	</form>
	{% endif %}
	{% else %}
	<div class="match-info">
		<div>
			<h1 class="display-4">You have not been matched yet.</h1>
			<p class="lead">Please check back later!</p>
			{% endif %}

			<br><br><br><br>
			<div class="offset-3 w-50">
				<form method="post">
					<label for="message">Send a message to your group admin:</label>
					<textarea class="form-control" id="message" name="message" rows="3" required
						style="resize:none;"></textarea>
					<br>
					<button type="submit" name="action" class="btn btn-warning my-2 my-sm-0"
						id="submit">&nbsp;Submit&nbsp;</button>
					<br><br>
				</form>
				<span class="font-weight-bold text-success">{{successMsg}}</span>
				<span class="font-weight-bold text-danger">{{errorMsg}}</span>
			</div>
		</div>
	</div>

	<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="profileModalLongTitle">{{match.info_firstname}}
						{{match.info_lastname}}
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<h5>Major: {{match.academics_major}}</h5>
					<h5>Career: {{match.career_field}}</h5>
					<h5>Email: <a href="mailto:{{match.info_email}}">{{match.info_email}}</a></h5>
					<h5>Class Year: {{match.class_year}}</h5>
					<p class="font-weight-bold">Certificate 1: {{match.academics_certificate1}}</p>
					<p class="font-weight-bold">Certificate 2: {{match.academics_certificate2}}</p>
					<p class="font-weight-bold">Certificate 3: {{match.academics_certificate3}}</p>
					<p class="font-weight-bold">Extracurricular 1: {{match.extracurricular1}}</p>
					<p class="font-weight-bold">Extracurricular 2: {{match.extracurricular2}}</p>
					<p class="font-weight-bold">Extracurricular 3: {{match.extracurricular3}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block view_matches %}active{% endblock %}
{% block individual_scripts %}
{% endblock %}