{% extends 'pages/user/newuser_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block specific_form %}

<style>
  .control-label {
    display:none
  }
  </style>

<form method="post" action="/{{side}}/new">
  {{ form.hidden_tag() }}
  <label for="name">Name</label>
    <div class="row">
        <div class="col">
          {{wtf.form_field(form.firstname, id='firstname', class='form-control', placeholder='First Name')}}
        </div>
        <div class="col">
          {{wtf.form_field(form.lastname, id='Last Name', class='form-control', placeholder='Last Name')}}
        </div>
    </div>
    <br />
    <label for="major">Major</label>
    {{wtf.form_field(form.major, id='Major', class='form-control', placeholder='Major')}}


    <br />
    <label for="career">Career Field</label>
    {{wtf.form_field(form.career, id='Career Field', class='form-control', placeholder='Career Field')}}

    <br />
    <div class="row">
        <div class="col">
            <label for="group_id">Your
                Group
                ID</label>
            <button type="button" class="btn-secondary ml-1 mb-1" data-container="body" data-toggle="popover"
                data-placement="top"
                data-content="If you don't specify a group ID you'll be placed in the general matching group">
                <i class="fas fa-question fa-xs"></i>
            </button>
            {{wtf.form_field(form.group_id, id='Group ID', class='form-control', placeholder='Group ID')}}

        </div>
        <div class="col">
            <label for="group_password">Group Password</label>
            <button type="button" class="btn-secondary ml-1 mb-1" data-container="body" data-toggle="popover"
                data-placement="top" data-content="Leave this blank if your group does not have a password">
                <i class="fas fa-question fa-xs"></i>
            </button>
            {{wtf.form_field(form.group_password, id='Group Password', class='form-control', placeholder='Group Password')}}
            <!--<input class="form-control mr-sm-2" type="text" id="group_password" name="group_password">-->
        </div>
    </div>
    <br />
    <p class="text-danger font-weight-bold">{{msg}}</p>
    <button type="submit" class="btn btn-warning my-2 my-sm-0" id="submit">&nbsp;Submit&nbsp;</button>
</form>
{% endblock %}
