{% extends 'pages/user/user_base.html' %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block content %}
<!-- Info side -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link dashtab {% if not active %}active{% endif %}" id="home-tab" data-toggle="tab" href="#home"
            role="tab" aria-controls="home" aria-selected="true">Basic Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link dashtab {% if active %}active{% endif %}" id="page-1-tab" data-toggle="tab" href="#page-1"
            role="tab" aria-controls="page-1" aria-selected="false">More Info</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if not active %}active show{% endif %}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <form method="post" action="/{{side}}/profile">
            {{ form.hidden_tag() }}
            <label for="firstname">First name</label>
            {{wtf.form_field(form.firstname, id='firstname', class='form-control mr-sm-2 info-1', value=user.info_firstname if user.info_firstname, disabled=True)}}
            <br />
            <label for="lastname">Last name</label>
            {{wtf.form_field(form.lastname, id='lastname', class='form-control mr-sm-2 info-1', value=user.info_lastname if user.info_lastname, disabled=True)}}
            <br />
            <label for="major">Major</label>
            {{wtf.form_field(form.major, id='major', class='form-control mr-sm-2 info-1', value=user.academics_major if user.academics_major, disabled=True)}}
            <br />
            <label for="career">Career</label>
            {{wtf.form_field(form.career, id='career', class='form-control mr-sm-2 info-1', value=user.careerfield if user.career_field, disabled=True)}}
            <br />
            <button type="button" class="btn btn-primary my-2 my-sm-0" id="edit-btn-1">&nbsp;Edit&nbsp;</button>
            <button type="submit" class="btn btn-primary my-2 my-sm-0" id="submit-1" hidden>&nbsp;Submit&nbsp;</button>
        </form>
    </div>

    <script>
        current = document.getElementById("major").innerHTML;
        current = "<option value='{{user.academics_major if user.academics_major}}' hidden>{{user.academics_major if user.academics_major}}</option>" + current;
        document.getElementById("major").innerHTML = current;

        current = document.getElementById("career").innerHTML;
        current = "<option value='{{user.career_field if user.career_field}}' hidden>{{user.career_field if user.career_field}}</option>" + current;
        document.getElementById("career").innerHTML = current;
    </script>


    <div class="tab-pane fade {% if active %}active show{% endif %}" id="page-1" role="tabpanel"
        aria-labelledby="page-1-tab">
        <form method="post" action="/{{side}}/information-additional">
            <label for="class_year">Class Year</label>
            <input class="form-control info-2 mr-sm-2 info-2" type="number" id="class_year" name="class_year"
                value="{{user.class_year if user.class_year}}" readonly>
            <br><br>
            <div class="form-row">
                <div class="col-sm-4">
                    <label for="academics_certificate1">Certificate 1</label>
                    <input class="form-control info-2 mr-sm-2 info-2" type="text" id="academics_certificate1"
                        name="academics_certificate1"
                        value="{{user.academics_certificate1 if user.academics_certificate1}}" readonly>
                </div>
                <div class="col-sm-4">
                    <label for="academics_certificate2">Certificate 2</label>
                    <input class="form-control info-2 mr-sm-2 info-2" type="text" id="academics_certificate2"
                        name="academics_certificate2"
                        value="{{user.academics_certificate2 if user.academics_certificate2}}" readonly>
                </div>
                <div class="col-sm-4">
                    <label for="academics_certificate2">Certificate 3</label>
                    <input class="form-control info-2 mr-sm-2 info-2" type="text" id="academics_certificate2"
                        name="academics_certificate2"
                        value="{{user.academics_certificate2 if user.academics_certificate2}}" readonly>
                </div>
            </div>
            <br><br>
            <div class="form-row">
                <div class="col-sm-4">
                    <label for="extracurricular1">Extracurricular 1</label>
                    <input class="form-control info-2 mr-sm-2 info-2" type="text" id="extracurricular1"
                        name="extracurricular1" value="{{user.extracurricular1 if user.extracurricular1}}" readonly>
                </div>
                <div class="col-sm-4">
                    <label for="extracurricular2">Extracurricular 2</label>
                    <input class="form-control info-2 mr-sm-2 info-2" type="text" id="extracurricular2"
                        name="extracurricular2" value="{{user.extracurricular2 if user.extracurricular2}}" readonly>
                </div>
                <div class="col-sm-4">
                    <label for="extracurricular3">Extracurricular 3</label>
                    <input class="form-control info-2 mr-sm-2 info-2" type="text" id="extracurricular3"
                        name="extracurricular3" value="{{user.extracurricular3 if user.extracurricular3}}" readonly>
                </div>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary my-2 my-sm-0" id="edit-btn-2">&nbsp;Edit&nbsp;</button>
            <button type="submit" class="btn btn-primary my-2 my-sm-0" id="submit-2" hidden>&nbsp;Submit&nbsp;</button>
        </form>
    </div>
    <!-- <br><br> -->
    <!-- <button type="button" class="btn btn-primary my-2 my-sm-0" id="edit-btn-2">&nbsp;Edit&nbsp;</button>
            <button type="submit" class="btn btn-primary my-2 my-sm-0" id="submit-2" hidden>&nbsp;Submit&nbsp;</button> -->
</div>

<p class="font-weight-bold text-danger">{{errorMsg}}</p>

</div>
{% endblock %}
{% block edit_profile %}active{% endblock %}
{% block individual_scripts %}
<script src="/static/js/update.js"></script>
{% endblock %}