{% extends 'pages/site_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{% include "pages/header.html" %}

<style>
    .control-label {
        display: none
    }

    .introjs-helperLayer {
        opacity: 0.2;
    }
</style>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark users-side-nav" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div data-step='1'
                        data-intro='Stay on your dashboard to view matches when they appear and contact your program admin with any questions or concerns.'
                        data-position='right'>
                        <div class="sb-sidenav-menu-heading">Matches</div>
                        <a class="nav-link tab {% block view_matches %}{% endblock %}" href="/{{side}}/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
                            View matches
                        </a>
                    </div>
                    <div data-step='2'
                        data-intro='Navigate here to add additional fields like your class year, certificates, and extracurriculars.'>
                        <div class="sb-sidenav-menu-heading" data-position='right'>Profile</div>
                        <a class="nav-link tab {% block edit_profile %}{% endblock %}" href="/{{side}}/profile">
                            <div class="sb-nav-link-icon"><i class="far fa-id-badge"></i></div>
                            Edit profile
                        </a>
                    </div>
                    <div data-step='3'
                        data-intro='Join another group in settings, but note that you may only be in one group at a time.'
                        data-position='right'>
                        <div class="sb-sidenav-menu-heading">Your account</div>
                        <a class="nav-link tab {% block account %}{% endblock %}" href="/{{side}}/account">
                            <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                            Settings
                        </a>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                <span>{{user.info_email}}</span>
                <div class="small">Your group ID:</div>
                <!-- print id -->
                {% if user %}<span
                    class="id-display">{{user.group_id if user.group_id != -1 else 'Currently not in a group'}}</span>{% endif %}
                <br><br>
                <a type="button" class="btn btn-change btn-sm text-white text-center" data-toggle="modal"
                    data-target="#exampleModal">Change
                    your group</a>
                <span class="d-lg-none">
                    <br><br><br>
                </span>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid pt-4 px-4">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="groupmodal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change your group</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" method="post" name="fileinfo" id="change-group">
                {{ form2.hidden_tag() }}
                <div class="modal-body d-flex flex-column justify-content-start">
                    <div class="form-group row ">
                        <label for="staticId" class="col-sm-8 col-form-label">Current Group ID</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control-plaintext text-left" id="staticId"
                                value="{{user.group_id if user and user.group_id != -1}}">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="id" class="col-sm-8 col-form-label">New Group ID</label>
                        <div class="col-sm-4">
                            {{wtf.form_field(form2.new_group_id, id='id', class='form-control')}}
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="password" class="col-sm-8 col-form-label">Group password</label>
                        <div class="col-sm-4">
                            {{wtf.form_field(form2.group_password, id='password', class='form-control')}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="/static/js/scripts.js"></script>
<script src="/static/js/change_group.js"></script>
<script src="/static/js/intro.js"></script>
<script>
    document.getElementById('startButton').onclick = function () {
        if (window.innerWidth < 992) {
            introJs().setOptions({
                steps: [
                    {
                        intro: 'Stay on your dashboard to view matches when they appear and contact your program admin with any questions or concerns.'
                    },
                    {
                        intro: 'Navigate to your profile page to add additional fields like your class year, certificates, and extracurriculars.'
                    },
                    {
                        intro: 'Join another group in settings, but note that you may only be in one group at a time.'
                    }
                ]
            }).start();
        }
        else {
            introJs().start();
        }
    };
</script>
{% block individual_scripts %}
{% endblock %}
{% endblock %}