{% extends 'pages/user_base.html' %}

{% block content %}
<!-- Info side -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
			aria-selected="true">Basic Information</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="page-1-tab" data-toggle="tab" href="#page-1" role="tab" aria-controls="page-1"
			aria-selected="false">More info</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="page-2-tab" data-toggle="tab" href="#page-2" role="tab" aria-controls="page-2"
			aria-selected="false">And some more info</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="change-email-tab" data-toggle="tab" href="#change-email" role="tab"
			aria-controls="change-email" aria-selected="false">Change Email</a>
	</li>
</ul>

<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
		<form method="post" action="/student/information">
			<label for="firstname">First Name</label>
			<input class="form-control mr-sm-2" type="text" id="firstname" name="firstname"
				value="{{student.studentinfonamefirst}}" required readonly>
			<br />
			<label for="lastname">Last Name</label>
			<input class="form-control mr-sm-2" type="text" id="lastname" name="lastname"
				value="{{student.studentinfonamelast}}" required readonly>
			<br />
			<label for="major">Major</label>
			<select class="form-control mr-sm-2" id="major" name="major" required disabled>
				<option value="{{student.studentacademicsmajor}}" selected>{{student.studentacademicsmajor}}
				</option>
			</select>
			<br />
			<label for="career">Desired Career Field</label>
			<select class="form-control mr-sm-2" id="career" name="career" required disabled>
				<option value="{{student.studentcareerdesiredfield}}" selected>
					{{student.studentcareerdesiredfield}}
				</option>
			</select>
			<br />
			<button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="submit"
				hidden>&nbsp;Submit&nbsp;</button>
			<button type="button" class="btn btn-outline-success my-2 my-sm-0 edit-btn">&nbsp;Edit&nbsp;</button>
		</form>
	</div>
	<div class="tab-pane fade" id="page-1" role="tabpanel" aria-labelledby="page-1-tab">
		cute
		<br />
		<button type="button" class="btn btn-outline-success my-2 my-sm-0 edit-btn">&nbsp;Edit&nbsp;</button>
	</div>
	<div class="tab-pane fade" id="page-2" role="tabpanel" aria-labelledby="page-2-tab">
		cuter
		<br />
		<button type="button" class="btn btn-outline-success my-2 my-sm-0 edit-btn">&nbsp;Edit&nbsp;</button>
	</div>
	<div class="tab-pane fade" id="change-email" role="tabpanel" aria-labelledby="change-email-tab">
		<form action="/student/email">
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">Current Email</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="staticEmail"
						value="{{student.studentinfoemail}}">
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-2 col-form-label">New Email</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="email" name="email" placeholder="email@domain.com">
				</div>
			</div>
			<button type="submit" class="btn btn-outline-success my-2 my-sm-0">&nbsp;Submit&nbsp;</button>
		</form>
	</div>
</div>
{% endblock %}
{% block edit_profile %}active{% endblock %}