{% extends 'pages/user_base.html' %}

{% block content %}
    <div class="card bg-danger text-white mb-4">
        <div class="card-body">Delete account</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="/alum/delete">Note: This action is permanent!</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </div>
{% endblock %}

{% block account %}active{% endblock %}