{% extends 'pages/user_base.html' %}


{% block content %}
<!-- Match side -->
<br />
{% if match %}
<div class="match-info text-center">
    <div>
        <h1 class="display-4">You've been matched</h1>
        <p class="lead">...with <strong><mark>{{match.studentinfonamefirst}}
                    {{match.studentinfonamelast}}</mark></strong>!</p>
        <hr class="my-4">
        <p>View their profile below</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
            data-target="#profileModal">{{match.studentinfonamefirst}}'s Profile</button>
        {% else %}
        <h1 class="display-4">You have not been matched yet.</h1>
        <p class="lead">Please check back later!</p>
        {% endif %}
    </div>
    <form method="post">
        <label for="message">Send a message to your group admin:</label>
        <input class="form-control mr-sm-2" type="text" id="message" name="message"
            required>
        <button type="submit" class="btn btn-warning my-2 my-sm-0" id="submit">&nbsp;Submit&nbsp;</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="profileModalLongTitle">{{match.studentinfonamefirst}}
                    {{match.studentinfonamelast}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <h5>Major: {{match.studentacademicsmajor}}</h5>
                <h5>Career: {{match.studentdesiredcareerfield}}</h5>
                <h5>Email: {{match.studentinfoemail}}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block view_matches %}active{% endblock %}
{% block extra_scripts %}
<script src="/static/js/scripts.js"></script>{% endblock %}