{% extends 'pages/newuser_base.html' %}

{% block specific_form %}
<form method="post" action="/alum/information">
    <label for="name">Name</label>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name"
                value="{{user.aluminfonamefirst if user.aluminfonamefirst}}" name="firstname">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name"
                value="{{user.aluminfonamelast if user.aluminfonamelast}}" name="lastname">
        </div>
    </div>
    <br />
    <label for="major">Major</label>
    <select class="form-control mr-sm-2" id="major" name="major" required>
        <option disabled selected value> -- select an option -- </option>
    </select>
    <br />
    <label for="career">Career Field</label>
    <select class="form-control mr-sm-2" id="career" name="career" required>
        <option disabled selected value> -- select an option -- </option>
    </select>
    <br />
    <label for="group_id">Your
        Group
        ID</label>
    <button type="button" class="btn btn-secondary ml-1 mb-1" data-container="body" data-toggle="popover"
        data-placement="top"
        data-content="If you don't specify a group ID you'll be placed in the general matching group">
        <i class="fas fa-question fa-xs"></i>
    </button>
    <input class="form-control mr-sm-2" type="text" id="group_id" name="group_id">
    <br />
    <p class="text-danger font-weight-bold">{{errorMsg}}</p>
    <button type="submit" class="btn btn-warning my-2 my-sm-0" id="submit">&nbsp;Submit&nbsp;</button>
</form>
{% endblock %}